@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {          /*reseteo de los margentes*/
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

$tam1: 20px;
$tam2: 1px;

$color: rgb(27, 16, 124);
$color2: rgb(119, 98, 128);

.main{
    background-color:rgb(68, 153, 125) ;
      background-image: url(multimedia/imagenes/ImagenPrincipal.jpg);
  background-position: left;
  background-size: cover;
  height: auto;
  border: 3px solid rgb(0, 12, 6);
  border-bottom: 1,1px;
  }


  .main__estilo{
      color: rgb(79, 226, 21);
      font-size: 25px;
      text-decoration: solid;
      font-family: 'Oswald', sans-serif;
      text-transform: capitalize;
      text-shadow: aqua 1px 1px ;
  }

  .section__h2{
      color: rgb(10, 108, 173);
      text-align: center;
      font-size: x-large;
      text-transform: capitalize;

  }

  .form__h5{
      color: rgb(233, 27, 0);
      text-transform: capitalize;
      text-decoration: none;
      font-size: $tam1 + $tam2;


  }


$color: sazul; /* probe cambiando el valor de la variable color y funciona en naranja, azul o si pongo cualquier nombe sale con el else.*/
  .form__h5--fondo
  {
    @if  $color == naranja {
        color: rgb(175, 98, 88);
    } @else if $color == azul {
        color: $color2;
    } @else {

      color: rgb(13, 143, 56);
    }
    
}

  


  /*  .form__h5--fondo
  {
     color: yellow;
     font-size: $tam1 + $tam2;

  }*/

  .footer__div--p {
    color: rgb(97, 88, 88);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-transform: lowercase;
    line-height: 40px;
    text-decoration: solid;
    font-family: 'Oswald', sans-serif;
    border: 3px solid rgb(0, 12, 6);
    border-top: 1px;
    padding-left: 2%;
    padding-right: 2%;

}

.footerNosotros{
  overflow: hidden;
}

@import "estilo.css";

/* aca usé el import solamente para tener el boton de ws  flotando, no tengo ninguna clase en estilo.css que me sirva para la solapa contacto
.button #whatsapp{
    position: fixed;
    bottom: 60px;
    right: 30px;
    background: transparent;
  }*/ 

